doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Covid-19 Details Generator
    link(rel="stylesheet" href="http://localhost:3000/public/style/1")
  
  body
    section.generator
      h1 Covid-19 Details Generator
      form#date-form
        label(for="covid-date") Enter a date from 2020
        input#covid-date(type="date", name="date")

      button#buttonLoad Retrieve Details
      div#covidWrapper
      button#testForm HELLO THERE

    script(src="http://localhost:3000/public/scripts/1")

