doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Homepage
  link(rel='stylesheet' href='http://localhost:3000/public/style/2')
h1 Hello this will be the Homepage
script(src='http://localhost:3000/public/scripts/2')