body {
  background-image: url("../images/pexels-abdullah-ghatasheh-1631677.jpg");
  background-repeat: no-repeat;
}

.main-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 10% 10% 10% 10%;
  /*align-items: center;*/
}

.form-container {
  background-color: aliceblue;
  /*margin: 6rem 30% 6rem 5%;*/
  padding: 3rem;
  width: 60%;
  box-shadow: 0 0 30px black;
  opacity: 0.7;
  align-items: center;
  text-align: center;
}

.form-title {
  text-align: center;
}

#login-form {
  margin: 5%;
  width: 60%;
  max-width: 120mm;
  border: 10px solid black;
  padding: 1vh 6vw 1vh 6vw;
}

.input-space {
  margin: 0;
  padding: 2rem 1% 2rem 1%;
  text-align: center;
}

input {
  height: 3rem;
  width: 95%;
  margin: 1% 0 1% 0;
  border-color: blue;
  outline: none;
}

input[type="email"],
input[type="password"] {
  text-align: left;
  color: red;
}

input[type="button"] {
  background-color: aqua;
  transition: all cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

input[type="button"]:hover {
  cursor: pointer;
  background-color: blue;
  color: whitesmoke;
}

::placeholder {
  color: red;
  opacity: 1;
}
